
@{
    ViewBag.Title = "Form";
}

<h1>Тест</h1>

@using (Html.BeginForm("Form", "Home", FormMethod.Post))
{

    @Html.TextBox("Name", null, new { placeholder = "Введите имя", required="required" })<br />
    @Html.TextBox("Surname", null,  new { placeholder = "Введите фамилию.", required = "required" })<br /><br />
    @Html.Label("sex", "Пол") <br />


    @Html.RadioButton("sex", "m", false, new { id = "m" })
    @Html.Label("m", "Мужской")<br />
    @Html.RadioButton("sex", "f", false, new { id = "f" })
    @Html.Label("f", "Женский")<br /><br />
    @Html.Label("favSport", "Выберите любимые виды спорта")<br />
    <input id="football" type="checkbox" name="favSport" value="football" />
    @Html.Label("football", "Футбол")<br />
    <input id="basketball" type="checkbox" name="favSport" value="basketball" />
    @Html.Label("basketball", "Баскетбол")<br />

    <input id="tennis" type="checkbox" name="favSport" value="Tennis" />
    @Html.Label("tennis", "Теннис")<br /><br />

    <button type="submit">Отправить</button>
}

