@{
    ViewBag.Title = "Home Page";
}


<br />@Html.ActionLink("Добавить статью", "Create")<br />
@foreach (var item in ViewBag.Articles)
{
    <div class="content_item">
        <div class="content_item_title">@item.Name</div>
        <div class="content_item_date">@item.Date</div>
        <div class="content_item_description">@item.Content</div>
        @Html.ActionLink("Изменить", "Update", new { @id = item.articleId })
        @Html.ActionLink("Удалить", "Delete", new { @id = item.articleId })
    </div>
}


